!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .flash-box 
      .notice
        グループを作成しました。
    .wrapper
      .chat-side
        .side-header
          .side-header_box
            %p.side-header_box__user-name
              test-user
            %ul.side-header__box__menu
              %li.side-header__box__menu__new-group
                %a{:href => "http://localhost:3000/messages"}
                  = fa_icon("edit")
              %li.side-header__box__menu__edit-user
                %a{:href => "http://localhost:3000/messages"}
                  = fa_icon("cog ")
        .groups
          .group
            %p.group__group-name
              test-group
            %p.group__latest-message
              さようなら
          .group
            %p.group__group-name
              sample-group
            %p.group__latest-message
              hello!
          .group
            %p.group__group-name
              example
            %p.group__latest-message
              まだメッセージがありません
      .chat-main
        .main-header  
          .main-header__left-box
            %h2.main-header__left-box__current-group
              test-group
            %ul.main-header__left-box__member-list
              Member: 
              %li.main-header__left-box__member-list__member
                test-user
          .main-header__edit-btn
            Edit
        .messages
          .message
            .message__upper-info
              %p.message__upper-info__talker
                test-user
              %p.message__upper-info__date
                2019/8/11(Sun) 14:32:23
            %p.message__text
              こんにちは！
        .form 
          %form.new_message
            .input-box
              %input.message__text{:type => "text" , :placeholder => "   type a message"}          
              %label.photo
                = fa_icon("image")
                %input#message_image.input-box__image__file{ :type => "file"}/                
            .send-box
              %p.send_message
                Send
    
    = yield
